@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





.form-group {
  margin-left: 100px !important;
         display: inline-block;
 
}



.form-control {
  width: 100% !important;
   margin-left: 10px !important;
    /*z-index:20000;*/
}

.form-inline {
    
    text-align:left;
}

.form{
  margin:10px;
  /*text-align: center;*/
}  
  
.coordinates{
 
  margin-bottom:50px  

}
/*.flex-left {*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*}*/


/*.checkbox {*/
/*    width:5vw;*/
/*    height:5vh;*/
/*}*/


.checkbox {
     font-weight:bold;
  /*transform: scale(2,3);*/
  /*margin: 10 20 20 10;*/
  
}


.checkbox, label {
    font-weight:bold;
    font-size: 18px;
    padding-left: 0px;
}




/*.location {*/
/*    display: inline-block;*/
/*    margin: 20px;*/
/*}*/



/*.form-inline {*/
/*    padding:10px;*/
/*}*/


.form-inline {
    /*margin:  -1vw;*/
    /*padding: 4vw;*/
    margin-bottom: 50px;
}

input[type="checkbox"].styled:checked label:after,
.checkbox label:after {
    padding-left: 3px;
    padding-top: 2px;
    font-size: 12px;
}


.location-btn {
    padding:0;
    margin: 20px;
     vertical-align: bottom;
}



/*--------------------------------------------Footer*/

.footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 40px;
    margin: 0;

}
#footer-details {
    margin: 20px;
}


/*--------------------------------------------Map*/
#map {
   /* min-height: 500px; */
        /*height: 100%;*/
   height: 80vh; 
   top: 0px;
   bottom: 0px;
}

/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

